<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>rpi-rek</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('liveStream', function () {
            loadImage();
            loadText()
        });
        socket.on('detected', function (url) {
            loadText()
        });

        function loadImage() {
            $('#image').attr('src', 'image.jpg?_t=' + (Math.random() * 100000));
        }

        function loadText() {
            // $.get('qr.json?_t=' + (Math.random() * 100000), function (data) {
            //     console.log(`qr txt ${data}`)
            //     if (data) {
            //         $('#qr').text(data);
            //     } else {
            //         $('#qr').text('');
            //     }
            // });
            $.ajax({
                url: 'qr.json?_t=' + (Math.random() * 100000),
                dataType: 'text',
                type: 'get',
                success: function (data, status) {
                    console.log(`qr txt ${data}`)
                    if (data) {
                        $('#qr').text(data);
                    } else {
                        $('#qr').text('');
                    }
                }
            });
        }

        function startStream() {
            socket.emit('start-stream');
        }
    </script>
</head>

<body>

    <h3><%= host %></h3>
    <h2><a href="http://<%= server %>:<%= port %>"><%= server %>:<%= port %></a></h2>

    <p><img id="image" src="image.png" width="300"></p>
    <p id="qr">-</p>

    <script>
        console.log(`start`)

        // startStream();

        setInterval(function () {
            loadImage();
            loadText();
        }, 3000);
    </script>

</body>

</html>
