<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>rpi-rek</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('liveStream', function(url) {
            $('#image').attr('src', url);
        });
        function startStream() {
            socket.emit('start-stream');
        }
    </script>
</head>
<body>

<h3><%= host %></h3>
<h1><a href="http://<%= server %>:3000"><%= server %></a></h1>
<h3><%= client %></h3>
<p><%= date %></p>
<p><img id="image" src="/images/image.jpg" width="200"></p>
<p id="qr"></p>

<script>
    startStream();
</script>

</body>
</html>
